*{
   margin: 0;
   padding: 0;
}

body{
    font-family: "Overpass","san-serif";
    font-size: 20px;
    background: rgb(52, 235, 219);
}

.container{
    max-width: 16.6rem;
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: #000000;
    opacity: 80%;
    margin: 5rem auto;
}

h1{
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 2rem;
    text-shadow: red -2px 0, cyan 2px 0;
}

h2{
    padding: 5rem;
    text-align: center;
    color: #f4f4f4;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: red -2px 0, cyan 2px 0;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    text-align: center;
    color: #f4f4f4;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: red -2px 0, cyan 2px 0;
}

.grid{
    display: flex;
 /* justify-content: space-evenly;*/
    flex-flow: row wrap;
    margin-left: 1rem;
    background-color: #000000;
    opacity: 80%;
}

.cel{
    width: 4.6rem;
    height: 4.6rem;
    background-color: #a4afac;
    font-size: 5rem;
    text-align: center;
    padding-top: 0.62rem;
    border-radius: 0.1rem;
    border-left: 8px solid #f2f2f2;
    border-bottom: 8px solid #f2f2f2;
}

#popUp{
    width: 100%;
    height: 15rem;
    margin-top: 10rem;
    background-color: #161313;
    color: #f4f4f4;
    position: absolute;
    display: none;
}